<html>
      <div class="table-header mat-elevation-z8">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" 
              placeholder="Escriba algo para filtrar">
            </mat-form-field>
      </div>
      <br>
       <div class="table-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="Id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Id</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Id}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Name}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="Country">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Pais</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Country}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="AlertDevicesCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Alerta</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.AlertDevicesCount}} </mat-cell>
          </ng-container>
      
           <ng-container matColumnDef="WarningDevicesCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Emergencia</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.WarningDevicesCount}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="NormalDevicesCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Normales</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.NormalDevicesCount}} </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      </div>
      
</html>


