html{
    background-color: rgb(190, 190, 190);
    width: 100%;
    padding-bottom: 60%
}

.summary{
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin: 24px auto;
    padding-bottom: 0.5%;
    padding-left: 2%;
}

.states{
    margin-right: 2.5%;
    background-color: rgba(190, 190, 190, 0.452);
    padding-bottom: 1%;
    border-radius: 10px 10px 10px 10px;
}


#chip1{
    margin-left: 40%;
    background-color: red;
    
}

#chip2{
    margin-left: 40%;
    background-color: yellow;
}
#chip3{
    margin-left: 40%;
    background-color: green;
}


.devicesEmergency,.devicesAlert,.devicesNormal{
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin: 24px auto;
    padding-bottom: 0.5%;
    padding-left: 2%;
}

.dEmergency{
    border: 1px solid red;
    border-radius: 10px 10px 10px 10px;
    margin-top: 4%;
    margin-right: 4%;
}

.dAlert{
    border: 1px solid yellow;
    border-radius: 10px 10px 10px 10px;
    margin-top: 4%;
}

.dNormal{
    border: 1px solid green;
    border-radius: 10px 10px 10px 10px;
    margin-top: 4%;
}