<html>
  <div class="container">
    <div class="summary">
      <h5 class="grey-text">Resumen</h5>
      <div class="row">
        <div class="col l2  s12 m3 center-align states ">
          <span>Emergencia</span><br>
          <mat-chip-list >
            <mat-chip id="chip1" selected>{{emergencyDevices}}</mat-chip>
          </mat-chip-list>
        </div>
        <div class="col l2 s12  m3 center-align states">
          <span>Alerta</span><br>
          <mat-chip-list>
            <mat-chip id="chip2" selected>{{alertDevices}}</mat-chip>
          </mat-chip-list>
        </div>
        <div class="col l2 s12 m3 center-align states">
          <span>Normal</span><br>
          <mat-chip-list>
            <mat-chip id="chip3" selected>{{normalDevices}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>

    <div class="devicesEmergency">
      <div class="row">
        <div class="col l4 dEmergency ">
          <p>{{devices[2].Id}}   <strong class="right">{{devices[2].Temperature}}°C</strong></p>
          <p>{{devices[2].Name}}</p>
          <p>{{cities[2]}} <i class="material-icons md-48  right">waves</i></p>
        </div>
        <div class="col l4 dEmergency">
            <p>{{devices[3].Id}}  <strong class="right">{{devices[3].Temperature}}°C</strong></p>
            <p>{{devices[3].Name}}</p>
            <p>{{cities[0]}}  <i class="material-icons md-48  right">waves</i></p>  
        </div>
      </div>
    </div>

    <div class="devicesAlert">
      <div class="row">
        <div class="col l4 dAlert">
            <p>{{devices[1].Id}} <strong class="right">{{devices[1].Temperature}}°C</strong></p>
            <p>{{devices[1].Name}}</p>
            <p>{{cities[1]}} <i class="material-icons md-48  right">cloud_queue</i></p>
        </div>
      </div>
    </div>

    <div class="devicesNormal">
      <div class="row">
        <div class="col l4 dNormal">
            <p>{{devices[0].Id}}  <strong class="right">{{devices[0].Temperature}}°C</strong></p>
            <p>{{devices[0].Name}}</p>
            <p>{{cities[0]}} <i class="material-icons md-48  right">cloud_queue</i></p>
        </div>
      </div>
    </div>

  </div>
  
</html>